.profile__edit-button {
  width: 150px;
  height: 50px;
  background-color: #000000;
  background-image: url(../../../images/PLUS.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  transition: all .1s linear;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button:focus {
  outline: 0;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    width: 335px;
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 426px) {
  .profile__edit-button {
    width: 282px;
  }
}